*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    font-family: inter;
    height: 100%;
    color: $blue-dark;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 16px;
}

.__ibg {
    position: relative;
}

.__ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: right;
    opacity: 0.5;
    @include desktop {
        opacity: 1;
    }
}

.container {
    padding: 0 15px;
    max-width: 1219px;
    margin: 0 auto;
    box-sizing: content-box;
}

.container__header {
    padding: 0 30px;
    max-width: 1465px;
    margin: 0 auto;
    box-sizing: content-box;
}

.button-toggles {
    font-weight: 500;
    font-size: 18px;
    line-height: 155%;
    text-align: center;
    letter-spacing: -0.02em;
    opacity: 0.5;
    background-color: transparent;
    transition: 0.25s;
    &:hover {
        opacity: 1;
    }

    &:active {
        border-bottom: 1px solid $green;
    }
}
