.features__backgraund {
    background-color: $body-color;

    &::after {
        content: "";
        width: 100%;
        display: block;
        border-bottom: 1px solid transparent;
        margin-bottom: 130px;
    }
}

.features__block {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 130px;
}

.features__title-block {
    text-align: center;
}

.features__text {
    margin-bottom: 25px;
}

.features__title {
    min-width: 609px;
    margin-bottom: 27px;
}

.features__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 155%;
    min-width: 338px;
    margin-bottom: 78px;
}

.features__cart {
    max-width: 380px;
    margin-bottom: 20px;
    padding: 60px 50px 77px 50px;
    text-align: center;
    background-color: $white;
    
    box-shadow: 0px 34px 80px rgba(11, 5, 47, 0.07);

    @include desktop {
        margin-right: 40px;
        margin-bottom: 130px;
    }
}

.features__cart:nth-last-of-type(1) {
    margin-right: 0;
}

.features__carts {
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    @include desktop {
        flex-direction: row;
        align-items: initial;
        
    }
}

.features__subtitle-color {
    opacity: 0.8;
    margin-bottom: 60px;
}

.features__description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.main__fichi-explore {
    margin-bottom: 20px;
}

.features__fichi-demonstration--toggles {
    margin-right: 39px;
    margin-bottom: 30px;
    cursor: pointer;
}

.features__fichi-demonstration--toggles:nth-last-child(1) {
    margin-right: 0;
}

.features__title-wrapper {
    margin-left: 79px;
    max-width: 448px;
}

.features__img-block {
    box-shadow: 0px 7px 16px 7px rgb(11 5 47 / 7%);
    border-radius: 15px;
    margin-bottom: 60px;
}

.features__img {
    border-radius: 15px;
    background-size: cover;
}

.features__fichi-demonstration--toggle {
    border-bottom: 2px solid rgba(150, 153, 171, 0.1);
    margin-bottom: 142px;
}

.features__cart-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 20px;
}

.features__svg {
    margin-bottom: 20px;
}