.getting__subtitle {
    font-weight: 400;
font-size: 18px;
line-height: 155%;
opacity: 0.8;
}

.getting__button {
    padding: 16px 56px;
    display: -webkit-inline-box;
    color: $white;
    margin-bottom: 130px;
}
.getting__block {
    text-align: center;
}

.getting__title {
    margin-bottom: 24px;
}

.getting__subtitle {
    max-width: 478px;
    margin: 0px auto 40px;
}