.header {
    background-color: $light-blue;
    margin-bottom: 146px;
}

.header__block-nav {
    display: flex;
    align-items: center;
    padding: 0 62px 0 62px;
    margin-bottom: 120px;
    border-bottom: solid 1px $grey-opacity;
}

.header__li {
    display: flex;
}

.header__logo-main {
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 6px;
    font-size: 29px;
    margin: 30px 122px 30px 0;
    color: $white;
    transition: 0.25s;
    cursor: pointer;

    &:hover {
        color: $green;
    }

    &:active {
        color: $grey;
    }
}

.header__item {
    margin-right: 53px;
}
.header__item:nth-last-of-type(1) {
    margin-right: 400px;
}

.header__nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: $grey;
    transition: 0.25s;

    &:hover {
        color: $white;
    }

    &:active {
        color: $grey-dark;
    }
}

.header__button-link {
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: $white;
    margin-right: 20px;
}

.header__button-link:nth-last-of-type(1) {
    margin-right: 0;
}

.header__button-link-green {
    padding: 11px 24px 11px 24px;
    border-radius: 10px;
    background-color: $green;
    transition: 0.25s;

    &:hover {
        box-shadow: rgb(50 173 103 / 37%) 0px 0px 20px 8px;
    }
    &:active {
        background-color: $green-dark;
        box-shadow: initial;
    }
}

.header__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: $white;
    max-width: 735px;
    margin-bottom: 35px;
}

.header__subtitle {
    font-size: 18px;
    line-height: 155%;
    font-weight: 400;
    opacity: 0.8;
    color: $white;
    max-width: 532px;
    margin-bottom: 65px;
}

.header__company-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    opacity: 0.8;
    color: $white;
    margin-right: 10px;
}
.header__company {
    display: flex;
    align-items: center;
    margin-bottom: 130px;
}

.header__button {
    padding: 11px 24px 11px 24px;
    border-radius: 10px;
    background-color: $green;
    display: -webkit-inline-box;
    color: $white;
    margin-bottom: 140px;
    transition: 0.25s;
    &:hover {
        box-shadow: rgb(50 173 103 / 37%) 0px 0px 20px 8px;
    }
    &:active {
        background-color: $green-dark;
        box-shadow: initial;
    }
}

.header__company-svg {
    margin-right: 10px;
}

.header__button-block {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.header__img {
    top: -120px;
    right: 0;
    position: absolute;
}

.header__block-wraper {
    position: relative;
}
